<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <title>Cinema</title>
    @Styles.Render("~/Content/Site.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <center>
        @Html.ActionLink("Начальная страница", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        &nbsp;
        &nbsp;
        &nbsp;
        @Html.ActionLink("Сеансы", "Index", "Sessions")
        &nbsp;
        &nbsp;
        @Html.ActionLink("Фильмы", "Index", "Films")
        &nbsp;
        &nbsp;
        @Html.ActionLink("Кинотеатры", "Index", "Cinemas")
        &nbsp;
        &nbsp;
        @Html.ActionLink("Залы", "Index", "Halls")
        &nbsp;
        &nbsp;
        @Html.ActionLink("Кассиры", "Index", "Cashiers")
        &nbsp;
        &nbsp;
        @Html.ActionLink("Билеты", "Index", "Tickets")
        &nbsp;
        &nbsp;
        @Html.ActionLink("Брони", "Index", "Bookings")
    </center>
            <div class="container body-content">
                @RenderBody()
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year – приложение ASP.NET</p>
                </footer>
            </div>

            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap")
            @RenderSection("scripts", required: false)
</body>
</html>
