@model Practica2.Models.Film

@{
    ViewBag.Title = "Edit";
}

<h1>Редактирование фильма</h1>
<h2>@Html.DisplayFor(model => model.Name)</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <p>
        Название: @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
    </p>

    <p>
        Описание: @Html.TextAreaFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
    </p>

    <p>
        Год: @Html.EditorFor(model => model.Year, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Year, "", new { @class = "text-danger" })
    </p>

    <p>
        Длительность: @Html.EditorFor(model => model.length, new { htmlAttributes = new { @class = "form-control" } }) мин.
        @Html.ValidationMessageFor(model => model.length, "", new { @class = "text-danger" })
    </p>

    <p>
        Возрасное ограничение: @Html.DropDownList("AgeLimit")
        @Html.ValidationMessageFor(model => model.AgeLimit, "", new { @class = "text-danger" })
    </p>

    <p>
        Режиссер: @Html.EditorFor(model => model.Producer, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Producer, "", new { @class = "text-danger" })
    </p>

    @Html.HiddenFor(model => model.ID)

            <input type="submit" value="Сохранить изменения" class="btn btn-default" />
}

<p>
    @Html.ActionLink("Вернуться к списку фильмов", "Index")
</p>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
